.cardContainer{
  height: 100vh;
  display: flex;
  align-items: start;
  justify-content: start;
  position: sticky;
  top: 23%;
  .card{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0%;
    height: 500px;
    width: 900px;
    border-radius: 24px;
    padding:28px;
    transform-origin: top;
    h2{
      text-align: left;
      margin: 0px;
      font-size: 2rem;
      padding: 0;
      line-height: 1.5rem;
    }
    .body{
      display: flex;
      height: 100%;
      align-items: end;
      .description{
        width: calc(80% - 3rem);
        position: relative;
        top: 10%;
        p{
          font-size: 22px;
          &::first-letter{
            font-size: 28px;
            font-family: 'Title';
          }
        }
        span{
          display: flex;
          align-items: center;
          gap: 5px;
          a{
            font-size: 20px;
            text-decoration: none;
            cursor: pointer;
          }
        }
      }

      .imageContainer{
        position: relative;
        width: 40%;
        height: 60%;
        border-radius: 25px;
        overflow: hidden;
        .inner{
          width: 100%;
          height: 100%;
        }
        img{
          object-fit: cover;
        }
      }
    }
  }
}

@media (max-width: 760px) {
    .imageContainer{
        width: 100%;
    }
}
