  .container{
    position: relative;
    height: 200vh;
    background-color: #191919;
  }

  .stickyMask{
    display: flex;
    overflow: hidden;
    position: sticky;
    top: 0rem;
    height: 100dvh;
    align-items: center;
    justify-content: center;
    mask-image: url('../../app/\(images\)/Group-2.svg');
    mask-repeat: no-repeat;
    mask-size:  90%;
    mask-position: 48.6% center;
    mask-type: luminance;
  }

.stickyMask> div{
    @apply bg-black w-full h-[100dvh]
}

  .prime{
    font-family: "porla";
  }
