.main{

  }

  .container{
    position: relative;
    height: 200vh;
    background-color: #141414;
  }

  .stickyMask{
    display: flex;
    overflow: hidden;
    position: sticky;
    top: 0rem;
    height: 100vh;
    align-items: center;
    justify-content: center;
    mask-image: url('/images/group-2.svg');
    mask-repeat: no-repeat;
    mask-size:  90%;
    mask-position: 48.6% center;
  }

.stickyMask> div{
    @apply bg-[#fee17f] w-full min-h-screen
}

  .stickyMask video{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
